* {
  box-sizing: border-box;
}
body {
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #555555;
  margin: 0;
}
a {
  text-decoration: none;
}


.blank-space {
  background-color: white;
  width: 100%;
  margin-bottom: 80px;
}
.text {
  text-transform: capitalize;
  line-height: 2.5em;
  position: absolute;
  top: 30%;
  left: 2%;

}
img {
  width: 100%;
  min-width: 100px;
  display: block;
}
.small-logo{
  width: 100%;
}
.header {
  width: 100%;
  height: 80px;
  top: 0;
  padding: 0 20px;
  background-color: white;
  border-bottom: 0.002em solid #f5f5f5;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.menu-sections {
  width: 100%;
  height: 50px;
  list-style: none;
  display: flex;
  align-items: center;
  margin-left: 60%;
}
.section {
  width: 100%;
  text-transform: uppercase;
  font-size: 1em;
  text-align: center;
  text-decoration: none;
  color: #555555;
}
.section:hover {
  color: #3CDBC0;
  text-decoration: underline;
}


.footer {
  background-color: #252525;
  width: 100%;
  padding: 5% 5%;
  border-top: 4px solid #aaaaaa;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.copy {
  color: #aaaaaa;
  margin: 0 20px;
}
.cookies {
  color: #f5f5f5;
  margin: 0 20px;
}


.form-main {
  margin-top: 150px;
  padding: 0 40px;
}
.container-form {
  width: 100%;
  margin: 50px;
  padding: 0 30%;
  display: flex;
  flex-direction: column;
}
input,textarea {
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
  background-color: #f5f5f5;
  border-style: none;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.button-send {
  background-color: #3CDBC0;
  color: white;
  text-transform: uppercase;
  font-family: 'Rubik', sans-serif;
  font-weight: bold;
  font-size: 1em;
  padding: 10px 20px;
  margin-top: 20px;
}


@media all and (max-width:900px) {
  .text {
    font-size: 0.7em;
  }

  .small-logo {
    width: 100%;
  }

  .menu-sections {
    width: 100%;
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    padding-left: auto;
  }
}

}

@media all and (max-width:500px) {

  .menu-sections {
    display: absolute;
    display: block;
    margin-left: 0;
    padding-left: 0;
  }
  .text {
    font-size: 0.5em;
  }

  body {
    font-size: 10px;
  }

  .small-logo {
    width: 10%;
  }

}
