* {
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400px;
  color: #555555;
}

.small-logo{
  width: 60%;
}

.header {
  width: 100%;
  height: 200px;
  padding: 0 20px;
  position: fixed;
  display: flex;
  justify-content: space-between;
}

.menu-sections {
  width: 40%;
  height: 40px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


.section {
  list-style: none;
  text-transform: uppercase;
  font-size: 1em;
  line-height: 200px;
  text-align: center;
  padding: 0;
}

.section:hover {
  color: #3CDBC0;
  text-decoration: underline;

}
